*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline:1px solid red ; */
}


:root{
    --mainColorbase:hsl(133, 100%, 45%);
    --mainColorLight:hsl(133, 100%, 95%);
    --mainColorPale:hsl(77, 88%, 64%);
    --mainColordark:hsl(133, 100%, 20%);
}


body{
    background-color: var(--mainColorLight);
    width: 100%;
    margin:0 auto;
}

#header{
    background-color: #fff;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 15px solid var(--mainColordark);
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: var(--mainColorLight);
}

.brand{
    display: flex;
    grid-column: 1/5;
    padding:0 15px;
    color:var(--mainColordark)
}
.socialMedia{
    display: none;
}
/* .contact {
    display:none;
} */

.contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;

}
.contact .email{
    display: none;
}
.contact .phone{
    display: none;
    
}

.usr{
    margin: 0 15px;
    color:var(--mainColordark)
}
.cart{
    position: relative;
    color:var(--mainColorbase);
    margin: 0 15px;
}
.cart span{
    position:absolute;
    font-size: .8em;
    color:red;
    top:-10;
    right:0;
    font-weight: bolder;
}
#header form{
    /* outline:1px solid red; */
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;
    justify-content: stretch;
    height: 40px;
    margin:auto 0;
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.252);
}
#header form input{
    width: 90%;
    border:none;
}
#header form button{
    width: 10%;
    border:none;
}
.toggle{
    font-size: 1.8em;
    background-color: var(--mainColorPale);
    width: fit-content;
    margin: auto;
    height: fit-content;
    border-radius: 50px;
    padding: 6px;
}
#desktop{
    display: none;
}

 #mobile{
    display:none;
    width: 100%;
    background-color: #fff;
    height: 70vh;
    background-color: color-mix(in srgb, var(--mainColorPale) , white 70%);
    font-size: 1.7em;
    padding: 10px;
}
#mobile ul{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
#mobile ul li{
    margin: 10px 20px;

}
#mobile a{
    color:var(--mainColordark);
    text-decoration: none;
    font-weight: bold;
}




.hero{
    background-image: url('./public/MIP\ hompage\ photo\ \(1\).jpg');
    background-size: cover;
    height: 70vh;
    color:var(--mainColorPale);
    padding:20px;
    text-align: center;
    position:relative;
}
.hero h2{
    font-size: 3em;
}

.hero h4{
    font-size: 1.2em;
}

.hero button{
    background-color: color-mix(in srgb, var(--mainColorLight) , var(--mainColorPale) 10%);
    padding:20px;
    border-radius: 50px;
    border:none;
    font-size: 1.4em;
    font-weight: bold;
    position:absolute;
    bottom:20px;
    left:20px;
    color:var(--mainColordark);
}

.author{
    width: 100%;
    height: 500px;
    padding: 50px;
    background-image: url("./public/my WB page pix (1).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
}
/* #abt {
    width: 100%;
    font-size: 2em;
} */
.a{
    position:absolute;
    top:0;
    left:0;
    cursor: pointer;
    font-size: 3em;
    color: var(--mainColorbase);
    border-radius:50px;
    background-color: var(--mainColorLight);
    transform: rotateY(180deg);
    
}
.author>p{

    position: absolute;
    background-color: #ffffff41;
    padding: 10px;
    backdrop-filter: blur(5px);
    border-radius: 10%;
    top: 0;
    color:var(--mainColorLight);
    left:2.8em;
    font-size: 1.4em;
    text-shadow: 0 0 5px var(--mainColordark);
    text-shadow: 3px 5px 5px green;
    font-weight: bold;
}

#des{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: justify;
}
#des h3{
    text-align: center;
    padding: 12px;
    font-size: 1.8rem;
    color:var(--mainColordark)
}
#des p{
    font-size: 1.4em;

}
#des button{
    /* height: 40px; */
    width: 40%;
    border-radius: 20px;
    background-color: var(--mainColordark);
    font-size: 1.8em;
    color:var(--mainColorPale);
    padding: 20px;
    margin: 20px 0;
    border:none;
    box-shadow: 2px 2px 12px var(--mainColordark);
}
#featbox{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 320px;
    margin:12px 10px;
    box-shadow: 7px 9px 4px var(--mainColordark);
    padding: 10px 20px;
    border-radius: 6px;
    border-top: 2px solid ;
    border-left: 2px solid ;
}
#featbox img{
    border-radius: 50%;
    width: 50%;
    margin:10px auto;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cta{
    display: flex;
    padding: 20px;
    
    flex-direction: column;
}

.cta img{
    display:flex;
    width: 100%;
}
.cta h5{
    font-size: 2.7em;
    margin:12px 0;
    
}
.cta address{
    font-size: .7em;
    display: flex;
    flex-direction: column;
}